/* desktop(max 1024px) */
	/*hoofdopmaak*/
	html{
		font-family: 'Source Sans Pro', sans-serif;
		/*font-family: 'Damion', cursive;*/

		font-size: 15px;
	}
	*{
		margin: 0;
		padding: 0;
	}
    .spacer{
        height: 50px;
        clear: both;
    }

    /*home*/
    iframe{
        width: 30%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    #livebeeld_canvas{
        width: 100%;
        background-color: white;
        overflow-y: hidden;
    }

	/*nav*/
	nav{
		width: 100%;
        height: 50px;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid #5883D2;
	}
    nav .home{
        float: left;
    }
    nav .account, nav .captured_media{
        float: right;
    }
    nav ul li a img{
        height: 30px;
        padding: 10px;
    }
    .account img, .captured_media img{
        height: 20px;
        padding: 15px;
    }

    /*login*/
    #logo_login{
        text-align: center;
        padding: 50px;
    }
    #logo_login img{
        height: 60px;
    }
    #login_form{
        width:  90%;
        margin: 0 auto;
    }
    #login_form input{
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #5883D2;
        margin: 10px 0;
        padding: 5px 0;
    }
    input:focus{
        outline: none;
    }
    #login_form label{
        color: gray;
    }
    #login_form button{
        border: none;
        background-color: #5883D2;
        color: white;
        padding: 7px 0px;
        width: 100%;
        margin-top:50px;
    }
    #logo_login figcaption{
        padding: 10px;
        font-weight: bold;
        font-size: 1.2em;
        color: #5883D2;
    }

    /*account*/
    input, label{
        display: block;
    }
    #account input{
        margin: 0 5px;
        margin-bottom: 15px;
        width: calc(100% - 10px);
        border: none;
        padding: 10px 0;
        background-color: rgb(240,240,240);
        border-bottom: 1px solid #5883D2;
    }
    #account label{
        margin: 0 5px;
        margin-bottom:3px;
        color: grey;
    }
    #logout{
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
    }
    #logout a{
        float: right;
        display: block;
        background-color: #5883D2;
        margin: 5px;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .buttons li a{
        float: left;
        width: calc(50% - 2px);
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        background-color: grey;
        margin: 1px;
        color: white
    }
    .buttons li:last-of-type a{
        width: calc(100% - 1px);
        background-color: #5883D2;
    }
    .knop_home{
        width: calc(50% - 2px);
        float: left;
        border: none;
        background-color: grey;
        margin: 1px;
        padding: 10px 0;
        color: white;
        cursor: pointer;
    }

    /*securitymode*/
    #security label{
        width: 100%;
        padding: 15px 0;
        text-indent: 5px;
    }
    #security label:first-child{
        background-color: #5883D2;
        color: white;
    }
    #security input{
        float: right;
        margin-right: 5px;
    }

    /*save-button*/
    .save-button{
        width: 100%;
        height: 50px;
        background-color: grey;
        position: fixed;
        bottom: 0;
    }
    .save-button button{
        float: right;
        margin: 5px;
        font-size: 1.2em;
        text-align: center;
        padding: 10px 20px;
        border: none;
    }
	
    .window{
        width: 100%;
        height: 100vh;
        position: fixed;
        top:0;
        display: none;
        background-color: lightgray;
    }
    .window p{
        text-align: center;
        padding-top: 50vh;
    }

    /* captured media*/
    .captured_media_form{
        width: calc(100% - 10px);
        margin: 0 auto;
    }
    .captured_media_form input, .captured_media_form select{
        margin: 5px 0;
        width:100%;
    }
    .captured_media_form label{
        color: grey;
        margin-top:15px;
        width:100%;
    }
    .captured_media_form button{
        width: 100%;
        background-color: #5883D2;
        color: white;
        border: none;
        padding: 7px 0;
        margin: 10px 0;
    }
    .media_item{
        width: calc(100% - 10px);
        background-color: lightgray;
        margin-bottom: 5px;
        display: inline-block;
        padding: 5px;
    }
    .media_item div{
        float: left;
    }
    .media_item div:last-of-type{
        float: right;
    }
    .media_item img{
        height: 30px;
        margin-right:10px;
    }
    .media_item div p b{
        font-weight: bold;;
    }
    .media_item a{

    }

    /*footer*/
    footer{
        clear: both;
        background-color: lightgray;
        margin-top: 100px;
        padding:5px;
    }

/* tablet (max 480px) */
@media only screen and (max-width: 960px) {
    iframe{
        width: 50%;
    }
}

/* mobile (max 320px) */
@media only screen and (min-width: 220px) and (max-width: 580px){
	 iframe{
        width: 100%;
    }
}