{% extends "base.html" %}

{# title block #}
{% block title %}
    captured media
{% endblock %}

{# active_page block #}
{% block captured_media_active_page %}
    active
{% endblock %}

{% block body %}
    {# media komt binnen #}
    <form action="#" method="post" id="account">
        <p>extensie</p>
        <label for="foto">foto</label>
        <input type="checkbox" id="foto" name="foto">
        <label for="video">video</label>
        <input type="checkbox" id="video" name="video">

        <p>datum en uur</p>
        <label for="date">volgorde</label>
        <select name="date" id="date">
          <option value="ASC">recentste eerst</option>
          <option value="DEC">oudste eerst</option>
        </select>

        <p>naam</p>
        <label for="naam">naam</label>
        <input type="text" id="naam" name="naam">

        <div class="search-button">
            <button type="submit">search</button> {# moet pas tevoorschijn komen als er iets wordt aangepast + er komt een popup die bevestigt dat de aanpassingen zijn opgeslagen #}
        </div>
    </form>

    <div class="spacer"></div>
{% endblock %}
