{% extends "base.html" %}

{# title block #}
{% block title %}
    captured media
{% endblock %}

{# active_page block #}
{% block captured_media_active_page %}
    active
{% endblock %}

{% block body %}
    {# media komt binnen #}
    <form action="{{ url_for('get_media') }}" method="post">
        <label for="foto">foto</label>
        <input type="radio" id="foto" name="type" value="0">
        <label for="video">video</label>
        <input type="radio" id="video" name="type" value="1" checked>

        <label for="date">volgorde</label>
        <select name="date" id="date">
          <option value="ASC">oudste eerst</option>
          <option value="DESC">recentste eerst</option>
        </select>

        <label for="naam">naam</label>
        <input type="text" id="naam" name="naam">

        <div class="search-button">
            <button type="submit">search</button>
        </div>
    </form>

    <div class="media">
        {# data komt binnen #}
        {% for media in data %}
            <div class="media_item">
                {# toon een foto of icon #}
                <div>
                    {% if media[1] == 1 %}
                        <img src="" alt="">
                    {% else %}
                        <img src="/static/media/{{ media[0] }}_pic.jpg" alt="">
                    {% endif %}
                </div>
                {# toon naam (of naamloos) en datum #}
                <div>
                    <p>
                        <b>
                            {{ media[2] }}
                            {% if media[2] == "" %}
                                naamloos
                            {% endif %}
                        </b>
                    </p>
                    <p>{{ media[3] }}</p>
                </div>
                {# geef link naar foto of video en de optie om te verwijderen #}
                <div>
                    {% if media[1] == 1 %}
                        <a href="/static/media/{{ media[0] }}_vid.mp4" type="video/mp4" target="_blank">bekijk</a>
                    {% else %}
                        <a href="/static/media/{{ media[0] }}_pic.jpg" target="_blank">bekijk</a>
                    {% endif %}
                        {% if media[1] == 1 %}
                            <a href="{{ url_for('delete', id=media[0], extensie="_vid.mp4") }}">delete</a>
                        {% else %}
                            <a href="{{ url_for('delete', id=media[0], extensie="_pic.jpg") }}">delete</a>
                        {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if delete %}
            <script>
                alert('item verwijderd')
            </script>
        {% endif %}
    </div>

    <div class="spacer"></div>

{% endblock %}
