{% extends "base.html" %}

{# title block #}
{% block title %}
    home
{% endblock %}

{# active_page block #}
{% block home_active_page %}
    active
{% endblock %}

{% block body %}
    <div id="livebeeld_canvas">
        <iframe id="livebeeld" src="http://169.254.0.1:8082/index.html"></iframe>
    </div>


        <button name="richting" type="submit" value="l" id="left">left</button>
        <button name="richting" type="submit" value="r" id="right">right</button>


    <ul>
        <li><a href="{{ url_for('led') }}">test led</a></li>
        <li><a href="{{ url_for('buzzer') }}">test buzzer</a></li>
        <li><a href="{{ url_for('securitymode') }}">securitymode</a></li>
        <li>
            <form action="{{ url_for('start_recording') }}" method="post">
                <input type="text" name="name" value="" id="recording_name" style="display: none">
                <button type="submit" id="start_recording">start recording</button>
            </form>
        </li>
        <li>
            <form action="{{ url_for('capture') }}" method="post">
                <input type="text" name="name" value="" id="capture_name" style="display: none">
                <button type="submit" id="capture">take picture</button>
            </form>
        </li>
    </ul>

    <div id="record_window" class="window"></div>
    <div id="capture_window" class="window"></div>

    <script>
        var frame = document.getElementById('livebeeld');
        var width = frame.offsetWidth;
        var height = width/1.3;
        frame.style.height = height + "px";

        var start_recording = document.getElementById('start_recording');
        start_recording.addEventListener('click', record_window);
        function record_window() {
            naam = prompt('geef een naam op voor uw video');
            document.getElementById('recording_name').value = naam;
            document.getElementById('record_window').style.display = "block";
            {# meer info geven op het venseter, countdown, ... #}
        }

        var capture = document.getElementById('capture');
        capture.addEventListener('click', capture_window);
        function capture_window() {
            naam = prompt('geef een naam op voor uw foto');
            document.getElementById('capture_name').value = naam;
            document.getElementById('capture_window').style.display = "block";
            {# meer info geven op het venseter, countdown, ... #}
        }

        document.getElementById('left').addEventListener('click', rotate_left);
        document.getElementById('right').addEventListener('click', rotate_right);

        function rotate_left() {
            var http = new XMLHttpRequest();
            http.open("POST", "/rotate", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "richting=" + 'l';
            http.send(params);
            return false;
        }
        function rotate_right() {
            var http = new XMLHttpRequest();
            http.open("POST", "/rotate", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "richting=" + 'r';
            http.send(params);
            return false;
        }
    </script>


{% endblock %}
